:root {
  --prim: #0f454f;
  --sec: #489fb5;
  --asset-1: #b9e6ef;
  --asset-2: #ede7e3;
  --asset-3: #ffa62b;
  --bg: var(--prim);
}
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", serif;
  font-weight: 400;
  background-color: var(--bg);
  color: var(--prim);
}
.menuBar {
  display: grid;
  place-items: center;
  place-content: center;
  font-size: 4rem;
  background-color: var(--prim);
  width: 60px;
  height: 45px;
  cursor: pointer;
}
.menuBar:hover,.menu li a:hover {
  background-color: rgb(9, 47, 54);
}
.menu li a{
  padding:1rem
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  width: 100%;
  list-style-type: none;
  margin: 1rem auto;
}
.menu li {
  display: flex;
  justify-content: center;
}
.menu li a {
  text-align: center;
  font-size: 28px;
  display: block;
  width: 100%;
  color: var(--asset-2);
  text-decoration: none;
}
main {
  background-color: var(--sec);
  display: grid;
  grid-template-columns: 1fr;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero img {
  background-size: cover;
  background-position: center;
  width: 100%;
}
h1,h2{
  text-transform: capitalize;
  padding: 1rem;
}
h2{
  border-bottom: #0f454f solid 3px;
}
.card{
  width: 320px;
  padding: 1rem;
}
.card .title{
  font-size: 2rem;
}
.card .body{
  margin: 1rem 0;
}.card .footer{
  font-size: .9rem;
  font-style: italic;
  text-transform: capitalize;
}
.main{
  display: grid;

}
.tag{
  color: var(--asset-3);
  text-transform: uppercase;
  font-size: .7rem;
  background-color: var(--prim);
  border-radius: 2px;
  padding: 2px;text-align: center;
  margin: 3px;
}
.aside{display: none;}
.active{
  background-color: #093138;
}