:root {
  --primary-color: #0a0067;
  --secondary-color: #7678ed;
}
body {
  font-family: "Libre Baskerville", serif;
  font-weight: 600;
  font-style: italic;
}
.lb-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}
.grid {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(12, 1fr);
}
.grid-center {
  display: grid;
  place-items: center;
  gap: 5px;
  grid-template-columns: repeat(12, 1fr);
}

.grid .col-span-7 {
  grid-column: 1/10;
}
.grid .col-span-4 {
  grid-column: 10/13;
}
.grid .col-span-3 {
  grid-column: 1/5;
}
.grid .col-span-9 {
  grid-column: 5/13;
}.grid .col-span-8 {
  grid-column: 1/9;
}
.grid .col-span-5 {
  grid-column: 10/13;
}
.lb-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.lb-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}
.body {
  padding: 0 2rem;
}
header h1 {
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-around;
  background-color: var(--secondary-color);
}
nav a {
  text-align: center;
  width: 100%;
  text-decoration: none;
  color: black;
  padding: 1rem;
}
nav a:hover {
  width: 100%;
  text-decoration: none;
  color: #fff;
  background-color: #4749bd;
  padding: 1rem;
}
footer {
  text-align: center;
}
main {
  max-width: 1080px;
  margin: 1rem auto;
}
.body img {
  margin: 10px;
  height: auto;
  width: 150px;
  /* image shadow */
  -webkit-box-shadow: 2px 2px 36px 4px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 2px 2px 36px 4px rgba(0, 0, 0, 0.66);
  box-shadow: 2px 2px 36px 4px rgba(0, 0, 0, 0.66);
}
.body p {
  margin-bottom: 10px;
}
.card {
  background-color: #0a0067;
  border: #000000 solid 1px;
  border-radius: 10px;
  margin: 1rem;
}
.card .body {
  background-color: snow;
  height: 86%;
}
.body h3 {
  text-align: center;
}
.card .head {
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
}