:root {
  --prim: #05445e;
  --sec: #189ab4;
  --assert1: #75e6da;
  --assert2: #d4f1f4;
}
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Sour Gummy", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header,
main,
footer {
  max-width: 640px;
  border: rgba(0, 0, 0, 0.275) solid 1px;
  background-color: var(--prim);
  color: var(--assert2);
  margin: 0 auto;
  text-align: center;
  padding: 0.5rem;
}
ul li {
  list-style: none;
}
ul{
  display: none;
  flex-direction: column;
  justify-content: center;
  grid-column: 1/3;
}
main {
  display: grid;
  grid-template-columns: 1fr;
  gap: .3rem;
  background-color: var(--assert1);
  color: #000000;
  place-items: center;
}
header nav {
  display: grid;
  gap: .5rem;
  grid-template-columns: 5fr 1fr;
}
nav a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  color: var(--assert2);
  width: 100%;
}
nav a:hover {
  background-color: #054f6f;
}
.bars {
  padding: 0.5rem 1rem;
}
.bars:hover {
  border-radius: 5px;
  cursor: pointer;
  background-color:var(--assert1);
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2rem;
}
.active {
  background-color:#054f6f;
  color: var(--assert1);
}
.menu {
  width: 100px;
  background-color: var(--prim);
  border: #fff solid 1px;
  color: #fff;
  font-size: xx-large;
  float: right;
}
.card{
  padding: .8rem;
  width: 303px;
  border: solid #000 1px;
  height: 340px;
  
}
.card h3{
  padding: 1rem;
}
.card img{
  box-shadow: 1px -2px 18px 0px rgba(0,0,0,0.75);
  margin: 1rem 0;
}
.color-span{
  color:#05445e;
  font-weight: 600;
}